html,
body {
    height: 100%;
    border: none;
    padding: none;
    overflow: hidden;
}

body {
    background: url('/imgs/bg_1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

#Home{
    z-index: 2;
}