<md-dialog md-theme="{{Config.Theme}}" flex={{Config.Flex}} nstyle="min-height: 97vh;" aria-label="Basic Dialog">
	<md-toolbar class="md-short md-Transparent">
		<div class="md-toolbar-tools">
			<h2>{{Config.Title}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="Cancel()">
				<md-icon md-svg-icon="md-close" aria-label="a" style="color: currentColor"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<form name="Basic_Dialog_Form" ng-submit="SendData()" flex layout=column>
		<md-dialog-content flex class="overflow-y">
			<div class="md-dialog-content padding" layout layout-wrap>

				<md-input-container layout=column ng-repeat="(kF, Field) in Config.Fields" class=""
					ng-class="Field.Class" flex=100 flex-gt-xs="{{ Field.flex ? Field.flex : 100 }}">
					<label>{{ Field.Nombre }}</label>

					<input ng-model="Field.Value" ng-required="Field.Required" class="w100p"
						minlength="{{Field.MinLen}}" maxlength="{{Field.MaxLen}}"
						ng-if="!Field.Type || Field.Type == 'string'" name="{{ Field.Nombre }}" md-autofocus="kF == 0"
						autocomplete="new-password">

					<input ng-model="Field.Value" ng-required="Field.Required" class="w100p"
						minlength="{{Field.MinLen}}" maxlength="{{Field.MaxLen}}"  type="{{ Field.showPassword ? 'text' : 'password' }}"
						ng-if="Field.Type == 'password'" name="{{ Field.Nombre }}" md-autofocus="kF == 0"
						autocomplete="new-password">
						<md-icon ng-if="Field.Type == 'password' && Field.showPassword"  md-font-icon="Pointer fa-fw fa-eye-slash"    ng-click="Field.showPassword = false"><md-tooltip>Ocultar Contraseña</md-tooltip></md-icon>
						<md-icon ng-if="Field.Type == 'password' && !Field.showPassword" md-font-icon="Pointer fa-fw fa-eye" 	      ng-click="Field.showPassword = true"><md-tooltip>Mostrar Contraseña</md-tooltip></md-icon>

					<input ng-model="Field.Value" ng-required="Field.Required" class="w100p" min="{{Field.Min}}"
						max="{{Field.Max}}" ng-if="Field.Type == 'number'" type="number">

					<!-- <md-datepicker ng-model="Field.Value" ng-if="Field.Type == 'date'" ng-required="Field.Required"
						></md-datepicker> -->

					<md-datepicker ng-model="Field.Value" ng-if="Field.Type == 'period'" ng-required="Field.Required"
						class="w100p" md-mode="month" md-date-locale="periodDateLocale"></md-datepicker>

					<md-select ng-model="Field.Value" ng-if="Field.Type == 'simplelist'" ng-required="Field.Required"
						class="w100p">
						<md-option ng-repeat="Op in Field.List" ng-value="Op">{{ Op }}</md-option>
					</md-select>

					<md-select ng-model="Field.Value" ng-if="Field.Type == 'simplelistDisabled'" ng-required="Field.Required"
					class="w100p" disabled>
						<md-option ng-repeat="Op in Field.List" ng-value="Op">{{ Op }}</md-option>
					</md-select>

					<md-select ng-model="Field.Value" ng-if="Field.Type == 'list'" ng-required="Field.Required"
						class="w100p">
						<md-option ng-repeat="Op in Field.List" ng-value="Op[Field.Item_Val]">{{ Op[Field.Item_Show] }}
						</md-option>
					</md-select>

					<md-select ng-model="Field.Value" ng-if="Field.Type == 'list_group'" ng-required="Field.Required"
						class="w100p">
						<md-optgroup ng-repeat="Gr in Field.List" label="{{ Gr[Field.Group_Show] }}">
							<md-option ng-repeat="Op in Gr[Field.Childs]" ng-value="Op[Field.Item_Val]">{{
								Op[Field.Item_Show] }}</md-option>
						</md-optgroup>
					</md-select>

					<md-autocomplete class="no-margin w100p fix_autocomplete" ng-required="Field.Required"
						md-search-text="Field.opts.searchText"
						md-items="item in Field.opts.itemsFn(Field.opts.searchText)"
						md-selected-item-change="selectItem(Field, item)" md-item-text="item[Field.opts.itemText]"
						md-min-length="Field.opts.minLength" md-delay="Field.opts.delay" md-require-match
						placeholder="Buscar..." ng-if="Field.Type == 'autocomplete'">
						<md-item-template>
							<span md-highlight-text="Field.opts.searchText" md-highlight-flags="^i">{{
								Field.opts.itemDisplay(item) }}</span>
						</md-item-template>
						<md-not-found>"{{Field.opts.searchText}}" no encontrado.</md-not-found>
					</md-autocomplete>

					<md-select ng-model="Field.Value" ng-if="Field.Type == 'fsroute'" class="w100p"
						md-selected-text="Field.Value">
						<md-option ng-value="''">---</md-option>
						<md-option ng-repeat="Op in Field.List | filter:{type:'folder'}" ng-value="Op.route">
							{{ '&nbsp;&nbsp;&nbsp;'.repeat(Op.depth) + Op.name }}
						</md-option>
					</md-select>

					<textarea class="w100p" ng-model="Field.Value" ng-if="Field.Type == 'textarea'"
						rows="{{Field.opts.rows}}" ng-required="Field.Required"></textarea>

				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions layout>

			<md-button ng-if="Config.HasDelete" ng-click="Delete($event)"
				class="md-icon-button md-dialog-button-left md-warn" aria-label="Borrar">
				<md-icon md-font-icon="fa-trash" class="fa-lg"></md-icon>
			</md-button>

			<span flex></span>
			<md-button type="submit" class="md-raised md-primary">{{ Config.Confirm.Text }}</md-button>
		</md-dialog-actions>
	</form>

</md-dialog>

<style>

</style>